body {
  background-color: rgb(123, 137, 217);
}

.title {
  color: rgb(6, 28, 150)
}

.btn {
  background-color:rgb(58, 85, 236);
  color: white;
  padding: 5px;
  margin: 5px;
  text-align: center;
  transition-duration: 0.4s;
  border-radius: 10px;
  display: flex

}

.btn:hover {
  background-color: rgb(154, 172, 243);
}
